h1 {
  color: red;
  &:hover {
    color: blue;
  }
}

/* Provides extra visual weight and identifies the primary action in a set of buttons.

    <button class="btn primary">Primary</button>
*/
.btn.primary {
    background: gray;
    color: snow;
    border: 2px outset steelblue;
}
